{% set title = _("429 Too Many Request") %}

{% extends "base.html" %}
{% block body %}

<div class="my-3">
    <div class="container">
        <div class="h-100vh">
            <div class="row align-items-center" style="height: 80vh;">
                <div class="text-center">
                    <h1><span class="text-primary">429 </span>{{ _("Too Many Request") }}</h1>
                    <p class="text-muted">{{ _("You have exceeded the request limit. Please try again later.") }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}