{% set title = _("500 Internal Server Error") %}

{% extends "base.html" %}
{% block body %}

<div class="my-3">
    <div class="container">
        <div class="h-100vh">
            <div class="row align-items-center" style="height: 80vh;">
                <div class="text-center">
                    <h1 class="text-primary">500</h1>
                    <h2>{{ _("Internal Server Error") }}</h2>
                    <p class="text-muted">{{ _("Something went wrong with the internal server.") }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}