{% from 'bootstrap5/utils.html' import render_icon %}
{% from 'bootstrap5/nav.html' import render_nav_item %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
  <title>{% block title %}{% endblock %} - Flask Authentication System</title>
  {{ bootstrap.load_css() }}
</head>

<body style="background-color: #f1f4fc;">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top py-1">
    <div class="container-fluid px-lg-4">
      <a class="navbar-brand" href="{{ url_for('accounts.index') }}">
        <div class="d-flex p-2 rounded-3" style="border: 1px solid #fff;">
          <img class="w-100 me-2" src="{{ url_for('static', filename='assets/images/logo.png') }}" alt=""
            style="height: 28px;">
          <h4 class="text-uppercase m-0">Flask Auth</h4>
        </div>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav">
          {{ render_nav_item('accounts.index', 'Home') }}
          {% if current_user.is_authenticated %}
          {{ render_nav_item('accounts.profile', 'Profile') }}
          {{ render_nav_item('accounts.change_email', 'Reset Email') }}
          {{ render_nav_item('accounts.change_password', 'Change Password') }}
          {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto my-2">
          {% if not current_user.is_authenticated %}
          {{ render_nav_item('accounts.login', 'Login') }}
          <li class="nav-item my-2 my-md-0 ms-md-2">
            <a class="btn btn-outline-light" href="{{ url_for('accounts.register') }}">Signup</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-light" href="{{ url_for('accounts.logout') }}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block body %} {% endblock %}

  <!-- Footer -->
  <footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
    <section class="d-flex justify-content-between p-4" stle="background-color: #21D192">
      <div class="me-5">
        <div class="d-flex p-2 rounded-3" style="border: 1px solid #272727;">
          <img class="me-2" src="{{ url_for('static', filename='assets/favicon.ico') }}" alt="." style="height: 28px;">
          <h4 class="text-uppercase m-0">Flask Auth</h4>
        </div>
      </div>

      <div>
        <div class="dropdown">
          <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate"
              viewBox="0 0 16 16">
              <path
                d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z" />
              <path
                d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z" />
            </svg>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(170, 170, 170, 0.2)">
      © 2023 Copyright
    </div>
  </footer>

  {% block scripts %}
  <!-- Optional JavaScript -->
  {{ bootstrap.load_js() }}
  {% endblock %}
</body>

</html>