{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Change Email Address{% endblock %}

{% block body %}

<main class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-11 col-md-8 col-lg-6 col-xl-5">
                {{ render_messages(dismissible=True, dismiss_animate=True) }}
                <div class="card shadow-lg mb-4">
                    <section class="p-4">
                        <form action="{{ url_for('accounts.change_email') }}" method="post">
                            {{ form.csrf_token() }}
                            <div class="mb-4">
                                <h2 class="card-title text-center">Change Email Address</h2>
                            </div>
                            {{ render_field(form.email, placeholder='Enter New Email Address' ) }}
                            {{ render_field(form.remember) }}
                            <div class="d-flex mb-4">
                                {{ render_field(form.submit, class='w-100') }}
                            </div>
                        </form>
                        <hr>
                        <p class="text-center text-decoration-none"><a href="{{ url_for('accounts.index') }}">Back to Home</a>
                        </p>
                    </section>
                </div>
                
            </div>
        </div>
    </div>
</main>

{% endblock %}