{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Change Password{% endblock %}

{% block body %}

<main class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <section class="col-sm-11 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-sm border-0">
                    <div class="p-4">
                        <form action="{{ url_for('accounts.change_password') }}" method="post">
                            <div class="mb-4">
                                <h2 class="card-title text-center">Change Your Password</h2>
                            </div>
                            {{ render_messages() }}
                            {{ form.csrf_token() }}
                            {{ render_field(form.old_password, placeholder="Enter your password") }}
                            {{ render_field(form.new_password, placeholder="Choose new password") }}
                            {{ render_field(form.confirm_password, placeholder="Re-type your new password") }}
                            {{ render_field(form.remember) }}
                            {{ render_field(form.submit, class='w-100') }}
                        </form>
                    </div>
                    <p class="text-center">
                        <a href="{{ url_for('accounts.forgot_password') }}" class="text-decoration-none">
                            Forgot Password?</a>
                    </p>
                </div>
            </section>
        </div>
    </div>
</main>

{% endblock %}