{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Confirm Account{% endblock %}

{% block body %}

<div class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            {{ render_messages(dismissible=True, dismiss_animate=True) }}
            <div class="col-sm-10 col-md-8 col-lg-7 col-xl-7">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for('accounts.confirm_account', token=token) }}" method="post">
                            <div class="my-4">
                                <h5 class="text-center">To confirm your account please click the button below.</h5>
                                <div class="d-flex justify-content-center my-4">
                                    <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input id="submit" type="submit" role="button" name="submit" class="btn btn-primary"
                                        value="Confirm Your Account" />
                                </div>
                                <p class="text-center"><a class="text-decoration-none"
                                        href="{{ url_for('accounts.login') }}">
                                        back to login
                                    </a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}