{% set title = "Forgot Password" %}

{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block body %}
<main class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <section class="col-sm-11 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-sm mb-4">
                    <div class="p-4">
                        <form action="{{ url_for('accounts.forgot_password') }}" method="post">
                            <div class="mb-4">
                                <h2 class="card-title text-center mb-3">Forgot Password</h2>
                                {{ render_messages() }}
                                <p>Reset password enter your email address and you will receive an email
                                    with further instructions on how to reset your password.</p>
                            </div>
                            {{ form.hidden_tag() }}
                            {{ render_field(form.email, placeholder="Enter your email address", autofocus="true") }}
                            {{ render_field(form.remember) }}
                            {{ render_field(form.submit, class="w-100") }}
                        </form>
                    </div>
                </div>
                {% if not current_user.is_authenticated %}
                <p class="text-center">Don't Have an account?
                    <a href="{{ url_for('accounts.register') }}" class="text-decoration-none">Sign Up</a>
                </p>
                {% else %}
                <p class="text-center">
                    <a href="{{ url_for('accounts.index') }}" class="text-decoration-none">Back to Home</a>
                </p>
                {% endif %}
            </section>
        </div>
    </div>
</main>
{% endblock %}