{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Login{% endblock %}

{% block body %}

<main class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <section class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-sm border-0 mb-4">
                    <div class="p-4">
                        <form action="{{ url_for('accounts.login') }}" method="post">
                            <div class="mb-4">
                                <h2 class="card-title text-center">Login Account</h2>
                            </div>
                            {{ render_messages() }}
                            {{ form.csrf_token() }}
                            {{ render_field(form.username, placeholder="Enter username or email", autofocus="true") }}
                            {{ render_field(form.password, placeholder="Enter your password") }}
                            {{ render_field(form.remember, checked="true") }}
                            {{ render_field(form.submit, class="w-100 mb-3") }}
                            <p class="text-center">
                                <a href="{{ url_for('accounts.forgot_password') }}" class="text-decoration-none">
                                    Forgot Password?</a>
                            </p>
                        </form>
                        <div class="main-divider main-divider-horizontal my-3" role="separator">
                            <span>or</span>
                        </div>
                        <form action="{{ url_for('accounts.login_guest_user') }}" method="post">
                            <input id="authenticate_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="username" value="test_user">
                            <input class="btn btn-outline-primary w-100" type="submit" name="submit"
                                value="Login as Guest User">
                        </form>
                    </div>
                </div>
                <p class="text-center">Don't Have an account?
                    <a href="{{ url_for('accounts.register') }}" class="text-decoration-none">
                        Sign Up</a>
                </p>
            </section>
        </div>
    </div>
</main>

{% endblock %}