{% set title = "My Profile" %}

{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block body %}

<div class="container my-4">
    {{ render_messages(dismissible=True, dismiss_animate=True) }}
    <div class="card shadow-sm">
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="d-flex flex-column align-items-center text-center p-3">
                    {% if current_user.profile and current_user.profile.avator %}
                    <img class="rounded-circle mt-5 mb-3" style="object-fit: cover;width: 180px;height: 180px;"
                        src="{{ url_for('static', filename='assets/profile/'+current_user.profile.avator) }}">
                    {% else %}
                    <img class="rounded-circle mt-5 mb-3" style="object-fit: cover;width: 180px;height: 180px;"
                        src="{{ url_for('static', filename='assets/images/default_avator.png') }}">
                    {% endif %}
                    <h4 class="font-weight-bold">{{ current_user.first_name }} {{ current_user.last_name }}</h4>
                    <p class="text-black-50">@{{ current_user.username }}</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-7">
                <div class="p-3 py-4">
                    <form action="{{ url_for('accounts.profile') }}" method="post" enctype="multipart/form-data">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h2 class="text-right">Profile Detail</h2>
                        </div>
                        {{ form.hidden_tag() }}
                        <div class="form-outline">
                            {{ render_field(form.username, placeholder="Enter your username",
                            value=current_user.username) }}
                        </div>
                        <div class="form-outline">
                            <div class="row">
                                <div class="col">
                                    {{ render_field(form.first_name, placeholder="First name",
                                    value=current_user.first_name) }}
                                </div>
                                <div class="col">
                                    {{ render_field(form.last_name, placeholder="Last name",
                                    value=current_user.last_name) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-outline">
                            {{ render_field(form.profile_image) }}
                        </div>
                        <div class="form-outline mb-3">
                            <div class="col mb-3">
                                <label class="form-label">Email Address</label>
                                <input type="text" class="form-control" value="{{ current_user.email }}" disabled=""
                                    readonly>
                                <p class="text-muted m-0" style="font-size: 14px;">Email address cannot be edited. You
                                    can only reset it by sending a confirmation link to your newly entered email. If you
                                    want to make a change, please click the button below.</p>
                            </div>
                            <a href="{{ url_for('accounts.change_email') }}" class="btn btn-primary" type="button"
                                role="button">Reset</a>
                        </div>
                        <div class="form-outline mb-3">
                            {{ render_field(form.about, id="bio", placeholder="Enter about yourself",
                            style="height: 6rem;") }}
                        </div>
                        <div class="d-flex mt-4">
                            {{ render_field(form.submit, class="w-100") }}
                        </div>
                        <script>
                            document.getElementById("bio").value = '{{ current_user.profile.bio }}';
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}