{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Register{% endblock %}

{% block body %}

<main class="my-5">
  <div class="container">
    <div class="row justify-content-center">
      <section class="col-sm-11 col-md-8 col-lg-6 col-xl-5">
        {{ render_messages(dismissible=True, dismiss_animate=True) }}
        <div class="card shadow-lg border-0 mb-4">
          <div class="p-4">
            <form action="{{ url_for('accounts.register') }}" method="post">
              <div class="mb-3">
                <h2 class="card-title text-center">Create Account</h2>
                <p class="text-center">Get started with your free account</p>
              </div>
              {{ form.csrf_token() }}
              {{ render_field(form.username) }}
              {{ render_field(form.first_name) }}
              {{ render_field(form.last_name) }}
              {{ render_field(form.email) }}
              {{ render_field(form.password) }}
              {{ render_field(form.remember) }}
              {{ render_field(form.submit, class="w-100") }}
            </form>
          </div>
        </div>
        <p class="text-center">
          Have an account? <a href="{{ url_for('accounts.login') }}" class="text-decoration-none">Log In</a>
        </p>
      </section>
    </div>
  </div>
</main>

{% endblock %}