{% set title = _("Reset Password") %}

{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block body %}

<main class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-11 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-sm mb-4">
                    <section class="p-4">
                        <form action="{{ url_for('accounts.reset_password', token=token) }}" method="post">
                            <div class="mb-4">
                                <h2 class="card-title text-center">{{ _('Reset Password') }}</h2>
                            </div>
                            {{ render_messages() }}
                            {{ form.hidden_tag() }}
                            {{ render_field(form.password, placeholder=_('Choose your password'), autofocus="true") }}
                            {{ render_field(form.confirm_password, placeholder=_('Re-type your password')) }}
                            {{ render_field(form.remember) }}
                            {{ render_field(form.submit, class="w-100 mb-2") }}
                        </form>
                    </section>
                </div>
                <p class="text-center">
                    {% if not current_user.is_authenticated %}
                    <a class="text-decoration-none" href="{{ url_for('accounts.login') }}">
                        {{ _('Back to Login') }}</a>
                    {% else %}
                    <a class="text-decoration-none" href="{{ url_for('accounts.index') }}">
                        {{ _('Back to Home') }}</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</main>

{% endblock %}